<div class="header">
  <button mat-stroked-button class="header__account-btn" routerLink="/login">
    <mat-icon>admin_panel_settings</mat-icon> Área interna
  </button>
</div>

<div class="logo-floating">
  <div class="logo-floating__container">
    <img class="logo-floating__image" src="logo.png" alt="logo barbería" />
  </div>
</div>

<div class="banner">
  <img class="banner__image" src="banner.png" alt="banner barbería" />
</div>

<div class="main">
  <app-business-cards />
  <app-services-card />
</div>
