<div class="header">
  <button mat-stroked-button class="header__account-btn" routerLink="/login"><mat-icon>admin_panel_settings</mat-icon> Área interna</button>
</div>

<div class="logo-floating">
  <div class="logo-floating__container">
    @if (businessService.isLoading()) {
      <div class="skeleton skeleton-logo"></div>
    } @else if (businessService.business()) {
      <img class="logo-floating__image" [src]="businessService.business()!.logoUrl" alt="logo barbería" loading="lazy" />
    }
  </div>
</div>

<div class="banner">
  @if (businessService.isLoading()) {
    <div class="skeleton skeleton-banner"></div>
  } @else if (businessService.business()) {
    <img class="banner__image" [src]="businessService.business()!.bannerUrl" alt="banner barbería" loading="lazy" />
  }
</div>

<div class="main">
  <app-business-cards />
  <app-services-card />
</div>
