.business {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;

  &__info,
  &__schedule {
    background-color: var(--color-primary);
    border-radius: 16px;
    box-shadow: 0px 4px 15px rgba(79, 79, 79, 0.1);
    padding: 1.5rem;
    color: var(--gray-text-contact);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__contact--item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.95rem;
    color: var(--gray-text-contact);
  }

  &__contact--itemIcon {
    font-size: 20px;
    color: var(--gray-text-titles);
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: 1rem;

    &--overlay {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: var(--color-primary-soft);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      transition: all 0.2s ease-in-out;
      color: var(--color-secondary);

      &:hover {
        background: var(--gray-border);
        transform: scale(1.1);
      }
    }

    &--icon {
      width: 22px;
      height: 22px;
    }
  }
}

.business__info h2,
.business__info p,
.business__schedule h3 {
  margin: 0;
}

.business__info h2 {
  font-weight: 800;
  font-size: 1.3rem;
  color: var(--gray-text-titles);
}

.business__info p {
  font-weight: 400;
  font-size: 0.95rem;
  color: var(--gray-text-darker);
  line-height: 1.5;
}

.business__schedule h3 {
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--gray-text-titles);
}

.business__schedule ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.business__schedule li {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0;
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--gray-text-contact);
}

.business__schedule .closed {
  color: var(--color-error);
  font-weight: 700;
}

// Responsive
@media (max-width: 1024px) {
  .business {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    gap: 1rem !important;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .business {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    gap: 1rem;

    &__info,
    &__schedule {
      padding: 1.25rem;
    }
  }
}

@media (max-width: 600px) {
  .business {
    display: flex !important;
    flex-direction: column !important;
    gap: 1rem;

    &__info,
    &__schedule {
      padding: 1rem;
    }
  }
}
